*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color : #fabe00;
    --sub--color: #231815;
    --sub--color2 : #af8913;
    --sub--color3: #e83f20;
    --sub--color4:#f9b000;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f9b000;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*header*/
header .container{
    position: relative;
    width:1900px;
    height: 150px;
    border-bottom: 1px solid transparent;
    background-color: #fff;
}
header h1{
    padding-top: 28px; 
    padding-left : 98px;
}

header h1 img{
    width: 150px;
    height: 100px;
}

#Main_Nav .gnb {
    margin-top: -75px;
    margin-left: 600px;
}

#Main_Nav .gnb li{
    float: left;
    margin-right: 79px;    
}

#Main_Nav .gnb li a{
    font-weight: 700;
    font-size: 25px;
    color: var(--sub--color);
}

/*Main_visual*/

#Main_visual{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 50vh;
    background-color: var(--main-color);
}

.wrapper{
    width: 1000px;
    height:50vh;
    background-image: url(./images/bg_brand_main_visual.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*swiper section*/
.swiper-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.swiper-slide img{
    width: 100%;
    height: 60vh;
}

/*footer*/
footer > #wrap {
    height: 150px;
    margin-top: 50px;
    background-color: #EDEDED;
    overflow: hidden;
}
.copyright{
    padding: 25px 20px ;
    text-align: center;
}
.copyright p{
    font-weight: 600;
    font-size : 15px;
    line-height : 29px;
    color: var(--sub--color);
}

.appLink{
    float: right;
    margin: -55px 100px ;
}

.appLink li{
    display: inline-block;
    clear: both;
}